@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos y Bienvenidas</h1>
    <h3>
        Sistema de Administración del registro de las asesorías de una persona estudiante en condición de
        discapacidad, con el fin de optimizar la atención para que logre acceder a una educación de
        calidad
    </h3>
    <p>Página en proceso</p>
</div>
